@{
    ViewData["Title"] = "GoiabinhaRoom";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Neste site você pode consultar a lista de goiabinhas, bem como altera-la!</p>
</div>
